@model UniversidadWeb.Models.MatriculaCurso

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MatriculaCurso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Curso_Estudiante.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso_Estudiante.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula.CodMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula.CodMatricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_MatriculaCurso }) |
    @Html.ActionLink("Back to List", "Index")
</p>
