@model IEnumerable<UniversidadWeb.Models.MatriculaCurso>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Curso_Estudiante.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula.CodMatricula)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Curso_Estudiante.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula.CodMatricula)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id_MatriculaCurso }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id_MatriculaCurso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id_MatriculaCurso })
        </td>
    </tr>
}

</table>
